@font-face {
    font-family: 'Dela Gothic One';
    src: url('../Assets/Fonts/DelaGothicOne-Regular.ttf');
}


.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: #fff;
    padding: 40px 0px;
    margin-top: 50px;
    font-weight: bold;
}

.footer div {
    width: 22%;
    margin-left: 50px;
}

.footer h1 {
    font-size: 19px;
    margin-bottom: 10px;
    color: white;
    font-family: 'Dela Gothic One', Arial;
}

.footer p {
    font-size: 0.9rem;
    line-height: 1.6;
    font-family: Helvetica, Arial, sans-serif;
}

.newsletter input[type="email"] {
    padding: 13px 15px;
    width: 80%;
    margin-right: 10px;
    border: none;
    outline: none;

}

.newsletter input::placeholder {
    font-size: 15px;
    font-weight: bold;
    color: #333;
}

.newsletter button {
    padding: 15px 25px;
    background-color: #232323;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

.newsletter button:hover {
    background-color: rgb(193, 100, 82);
    color: white;
}


.quick-links ul {
    list-style-type: none;
    padding: 0;
}

.quick-links ul li {
    margin-bottom: 8px;
}

.quick-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
}

.quick-links ul li a:hover {
    text-decoration: underline;
}



.newsletter img {
    width: 23px;
    height: 23px;
    display: block;
}

.social-media {
    display: flex;
    margin-top: 20px;
    gap: 40px;
    margin-left: -20px;
}

.social-media img {
    margin-left: -50px;
}











