@font-face {
    font-family: 'Dela Gothic One';
    src: url('../Assets/Fonts/DelaGothicOne-Regular.ttf');
}



.footer {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: #fff;
    padding: 40px 60px;
    margin-top: 50px;
    font-weight: bold;
}

.footer div {
    flex: 1;
    margin: 0 20px;
}

.footer h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: white;
    font-family: 'Dela Gothic One', Arial;
}

.footer p {
    font-size: 0.9rem;
    line-height: 1.6;
    font-family: Helvetica, Arial, sans-serif;
}

.newsletter input[type="email"] {
    padding: 10px;
    width: 80%;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
}

.newsletter button {
    padding: 10px 20px;
    background-color: white;
    color: #333;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.newsletter button:hover {
    background-color: #333;
    color: white;
}

.quick-links ul {
    list-style-type: none;
    padding: 0;
}

.quick-links ul li {
    margin-bottom: 8px;
}

.quick-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
}

.quick-links ul li a:hover {
    text-decoration: underline;
}








