@font-face {
    font-family: 'Dela Gothic One';
    src: url('../Assets/Fonts/DelaGothicOne-Regular.ttf');
}


.featured {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    cursor: pointer;
}

.featured img {
    max-height: 450px;
    width: 100%;
}

.featured-1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.featured-2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.featured-3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.featured-4 {
    display: flex;
    align-items: center;
    justify-content: center;
}


.text-overlay-1 {
    position: absolute;
    top: 35%;
    left: 10%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: .9vw;
    font-family: 'Dela Gothic One', Arial;
    text-align: left;
}

.text-overlay-2 {
    position: absolute;
    top: 35%;
    left: 15%;
    transform: translate(270%, -50%);
    color: white;
    text-align: center;
    font-size: .9vw;
    font-family: 'Dela Gothic One', Arial;
    text-align: left;
}

.text-overlay-3 {
    position: absolute;
    top: 85%;
    left: 10%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: .9vw;
    font-family: 'Dela Gothic One', Arial;
    text-align: left;
}

.text-overlay-4 {
    position: absolute;
    top: 85%;
    left: 15%;
    transform: translate(270%, -50%);
    color: white;
    text-align: center;
    font-size: .9vw;
    font-family: 'Dela Gothic One', Arial;
    text-align: left;
}


button{
    padding: 10px 15px;
    background-color: white;
    border: none;
    font-size: 13px;
    font-family: Helvetica, Arial;
    font-weight: bold;
    color:black;
    cursor: pointer;
}

button:hover {
    background-color: #232323;
    color: white;
}