@font-face {
    font-family: 'Dela Gothic One';
    src: url('../Assets/Fonts/DelaGothicOne-Regular.ttf');
}


.popular {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;
}

.popular h1 {
    color: #171717;
    font-size: 30px;
    font-family: 'Dela Gothic One', sans-serif;
}

.popular hr {
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}

.popular-item {
    margin-top: 10px;
    display: flex;
    gap: 70px;
}

.popular img {
    width: 100%;
    height: auto;
    cursor: pointer;
}